.intro {
  position: relative;
  padding: 20vh var(--horizontal-gutter);
  min-height: 200px;
  background: rgb(245, 245, 245) url(/images/grid.svg);
  overflow: hidden;
}

.intro__heatpipe {
  position: absolute;
  top: -700px;
  left: 200px;
  height: 800px;
  width: 800px;
  background: url(/images/heatpipe.svg) top left no-repeat;
  transform: rotateZ(-10deg);
}

.intro__moon {
  position: absolute;
  bottom: -5em;
  left: 13em;
  height: 250px;
  width: 250px;
  background: url(/images/moon.svg) top left no-repeat;
  transition: bottom,right,height,width 1s ease-in-out;
}

.intro--loading-done > .intro__moon {
  -webkit-animation: fadeInUp 1.7s 1s ease-out, float 7s ease-in-out 3s infinite;
  -moz-animation: fadeInUp 1.7s 1s ease-out, float 7s ease-in-out 1.7s infinite;
  animation: fadeInUp 2s 1s ease-out, float 7s ease-in-out 3s infinite;
}

.intro__name {
  margin: 0;
  font-size: 5.0em;
  font-weight: normal;
  line-height: 1.3em;
  opacity: 0;
}

.intro--loading-done > .intro__name {
  animation: fadeIn 1.3s 1.9s ease-out;
  animation-fill-mode: both;
}

.intro__name > span {
  font-weight: bold;
}

.intro__title {
  display: block;
  margin: 1em 0;
  font-size: 1.6em;
  font-weight: bold;
  color: #848484;
  opacity: 0;
}

.intro--loading-done > .intro__title {
  animation: fadeIn 1.3s 2.5s ease-out;
  animation-fill-mode: both;
}
