.project-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

.project-item > .project-item__title {
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.project-item__image {
  border-radius: 6px;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 70%;
  max-width: 350px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.06);
  margin: auto;
}

.project-item__image:hover {
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.07), 4px 4px 7px 3px rgba(0,0,0,0.03);
}
