.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background: rgb(4, 6, 11);
  color: white;
  --my-timing-function: cubic-bezier(.18,.58,.27,.99);
  --bottom-border-height: 5px;
  overflow: hidden;
}

.loading__contents {
  height: calc(100vh - var(--bottom-border-height));
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  /* align-items: center; */
  justify-items: center;
  background: rgb(17, 19, 23);
  background: rgba(255, 255, 255, 0.1);

}

.loading__name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
  font-size: 4em;
  line-height: 1em;
  padding-bottom: 0px;
  animation: name-blink 0.5s ease infinite;
  animation-direction: alternate;
}

.loading__welcome {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: end;
  font-size: 1.2em;
  opacity: 0;
  /* margin: 0; */
}

.loading__bottom-border {
  height: var(--bottom-border-height);
  background-color: #50366b;
  animation: blink 0.5s ease infinite;
  animation-direction: alternate;
}


.loading--done {
  transform: scaleY(0.3) translateY(-100vh);
  transform-origin: center top;
  transition: transform var(--my-timing-function) 2s 1.5s;
}

.loading--done .loading__contents {
  transform: translateY(-100vh);
  transition: transform var(--my-timing-function) 7s 1.5s;
}

.loading--done .loading__welcome {
  animation: fadeIn 1s 0.2s ease;
  animation-fill-mode: forwards;
}

.loading--done .loading__name {
  animation: name-load-complete 0.2s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.loading--done .loading__bottom-border {
  animation: load-complete 0.2s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes blink {
  0% {
    background-color: #993d00;
  }

  100% {
    background-color: #ff9851;
  }
}

@keyframes name-blink {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes load-complete {
  100% {
    background-color: #99ff66;
  }
}

@keyframes name-load-complete {
  100% {
    opacity: 1;
  }
}
