@media (prefers-reduced-motion: reduce) {
  .intro__moon {
    animation: none;
  }
  .intro__earth {
    animation: none;
  }
}

@media screen and (min-width: 450px){
  :root {
    --vertical-gutter: 3em;
    --horizontal-gutter: 4em;
  }

  .container {
    font-size: 1em;
  }

  .education__logo {
    /* width: 75px; */
    height: 75px;
  }
}

@media screen and (min-width: 600px) {
  .intro__moon {
    bottom: 1em;
    left: 23em;
    height: 350px;
    width: 350px;
  }

  .work-item {
    margin: 40px 0;
    padding: 3em 4em;
  }

  .project-item {
    align-items: center;
    margin-bottom: 30px;
  }

  .project-item__image {
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    margin-right: 25px;
  }

  .project-item__description {
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
  }

  .radargraph-holder {
    top: -3em;
    right: -12em;
    width: 38em;
    height: 37em;
  }

  .social-media {
    font-size: 1.9em;
  }

  .fightstick-holder {
    width: 19em;
    height: 10.75em;
    right: -4em;
  }
}

@media screen and (min-width: 800px) {
  :root {
    --vertical-gutter: 6.5em;
    --horizontal-gutter: 8em;
  }

  .intro__moon {
    bottom: -4em;
    left: 25em;
    height: 450px;
    width: 450px;
  }

  .intro__heatpipe {
    top: -675px;
    left: 300px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 50px;
    align-items: center;
  }

  .navbar__main {
    display: flex;
    margin-right: 60px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar__main li {
    margin: 0;
  }

  .navbar__main li:first-child {
    margin-top: 0;
  }

  .navbar__link {
    padding: 10px;
  }

  .navbar__logo {
    margin-top: 0;
  }

  .navbar__toggle {
    display: none;
  }

  .night-mode-toggle {
    top: 14px;
    right: 20px;
  }

  .work-item {
    padding: 4em 5em;
  }

  .radargraph-holder {
    right: -20em;
    top: 2em;
    width: 43em;
    height: 42em;
  }

  .fightstick-holder {
    width: 25em;
    height: 13.75em;
  }

  .social-media {
    font-size: 2.8em;
  }
}

@media screen and (min-width: 1100px) {
  :root {
    --horizontal-gutter: 13em;
  }

  .intro__moon {
    bottom: -5em;
    left: 35em;
    height: 500px;
    width: 500px;
  }

  .intro__heatpipe {
    top: -790px;
    left: 500px;
    height: 900px;
    width: 900px;
  }

  /* Always display work item details on sufficiently large screen */
  /* .experience {
    padding: var(--vertical-gutter) var(--horizontal-gutter);
    display: block;
  } */

  /* .scroll-button {
    display: none;
  } */

  .details-toggle {
    display: none;
  }

  /* .work-items {
    display: block;
    overflow-x: initial;
  } */

  .work-item__summary {
    display: block;
  }

  .work-item__description {
    display: block;
  }

  .radargraph-holder {
    right: -15em;
    top: 3em;
    width: 44em;
    height: 42em;
  }

  .fightstick-holder {
    right: 3em;
    top: 2em;
    transform: rotate(8deg);
  }

  @supports (display: grid) {
    .work-item {
      display: -ms-grid;
      display: grid;
      grid-template-columns: 4fr 3fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas:
      "company company"
      "position position"
      "summary summary"
      "description technologies"
    }

    .work-item > h3 {
      grid-area: company;
    }

    .work-item > h4 {
      grid-area: position;
    }

    .work-item__summary {
      grid-area: summary;
    }

    .work-item__description {
      grid-area: description;
    }

    .work-item__technologies {
      grid-area: technologies;
    }

    .work-item__technologies > h5 {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1300px) {
  :root {
    --horizontal-gutter: 20em;
  }

  .intro__moon {
    bottom: -13em;
    left: 39em;
    height: 650px;
    width: 650px;
  }

  .intro__heatpipe {
    top: -900px;
    left: 650px;
    height: 1000px;
    width: 1000px;
  }

  .radargraph-holder {
    right: -8em;
  }

  .fightstick-holder {
    top: 1em;
    right: 3em;
    width: 29em;
    height: 15.75em;
  }
}

/* IE/Edge fallbacks */
_:-ms-lang(x), .work-items {
  display: block;
  padding: 0 var(--horizontal-gutter) var(--vertical-gutter) var(--horizontal-gutter) ;
}

_:-ms-lang(x), .experience__work-item-index {
  display: none;
}

_:-ms-lang(x), .scroll-button {
  display: none;
}

@media screen and (min-width: 1600px) {
  .intro__moon {
    bottom: -10em;
    left: 51em;
    height: 700px;
    width: 700px;
  }

  .radargraph-holder {
    right: 4em;
    top: 7em;
  }
}
