.night-mode {
  background-color: black;
  color: white;
}

.night-mode a {
  color: #adf;
}
.night-mode .striped-border {
  border-color: #383838;
}

.night-mode a:visited {
  color: #bac;
}

.night-mode-toggle {
  /* position: absolute;
  top: 15px;
  right: 60px; */
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 1.7em;
}

.night-mode .night-mode-toggle {
  color: white;
  text-shadow: 0px 0px 15px white;
}

.night-mode .intro__wrapper {
  background-color: black;
}

.night-mode .intro__tag {
  background-image: url(/images/assets/tag_white.svg);
}

.night-mode .intro__title {
  color: #a4a4a4;
}

.night-mode .navbar__main {
  /* border-bottom: 2px solid black; */
  background: #1b1c29;
}

.night-mode .navbar-controls, .night-mode .navbar__logo {
  background: #1b1c29;
}

.night-mode .navbar__toggle, .night-mode .navbar__link, .night-mode .navbar__logo, .night-mode .navbar__link:visited, .night-mode .navbar__logo:visited {
  color: white;
}

.night-mode .work-item {
  border-left: #50366b solid 5px;
  background: #252525;
}

.night-mode .scroll-button {
  background-color: rgba(255,255,255,0.1);
}

.night-mode .circle-indicators {
  color: white;
}

.night-mode .social-media a {
  color: rgb(180, 180, 180);
  color: rgba(255, 255, 255, 0.68);
}

.night-mode fieldset input,.night-mode fieldset textarea {
  background-color: #14151b;
  color: #bebebe;
  padding: 5px 10px;
}

.night-mode input::placeholder, .night-mode textarea::placeholder {
  color: #aaa;
}

.night-mode .fightstick-holder {
  background-color: #262626;
}
