.night-mode {
  background-color: black;
  color: white;
}

.night-mode a {
  color: #adf;
}

.night-mode a:visited {
  color: #bac;
}

.night-mode-toggle {
  position: absolute;
  top: 10px;
  right: 60px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.night-mode .night-mode-toggle {
  color: white;
  text-shadow: 0px 0px 15px white;
}

.night-mode .intro__wrapper {
  background-color: black;
}

.night-mode .navbar {
  background: rgb(0,0,0);
  background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(11,11,11,0.9612045501794468) 35%, rgba(40,40,40,0.9163866230085784) 100%);
}

.night-mode .navbar__toggle, .night-mode .navbar__link, .night-mode .navbar__logo, .night-mode .navbar__link:visited, .night-mode .navbar__logo:visited {
  color: white;
}

.night-mode .work-item {
  border-left: #50366b solid 5px;
  background: #252525;
}

.night-mode .scroll-button {
  background-color: rgba(255,255,255,0.1);
}

.night-mode .circle-indicators {
  color: white;
}

.night-mode .social-media a {
  color: rgb(180, 180, 180);
  color: rgba(255, 255, 255, 0.68);
}

.night-mode fieldset input,.night-mode fieldset textarea {
  background-color: #211d27;
  color: #bebebe;
}

.night-mode input::placeholder, .night-mode textarea::placeholder {
  color: #aaa;
}

.night-mode .fightstick-holder {
  background-color: #262626;
}
